.cover__text-container {
  /* margin: 195px 232px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

@media screen and (max-width: 424px) {
  .cover__text-container {
    margin: 0 16px;
  }
}